/* Import compass reset module */
/* line 17, ../../.rvm/gems/ruby-1.9.3-p0@wordless/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../.rvm/gems/ruby-1.9.3-p0@wordless/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../.rvm/gems/ruby-1.9.3-p0@wordless/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../.rvm/gems/ruby-1.9.3-p0@wordless/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../.rvm/gems/ruby-1.9.3-p0@wordless/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../.rvm/gems/ruby-1.9.3-p0@wordless/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../.rvm/gems/ruby-1.9.3-p0@wordless/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../.rvm/gems/ruby-1.9.3-p0@wordless/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../.rvm/gems/ruby-1.9.3-p0@wordless/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Define some variables */
/* Flexible image */
/* line 15, ../sass/framework.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 20, ../sass/framework.scss */
.container {
  padding: 0 15px;
  position: relative;
  *zoom: 1;
}
/* line 38, ../../.rvm/gems/ruby-1.9.3-p0@wordless/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 28, ../sass/framework.scss */
.row {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 978px;
  *zoom: 1;
}
/* line 38, ../../.rvm/gems/ruby-1.9.3-p0@wordless/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 41, ../sass/framework.scss */
[class*="col"] {
  float: left;
  display: inline;
  min-height: 1px;
  position: relative;
  margin-left: 3.091%;
}
/* line 49, ../sass/framework.scss */
[class*="col"]:first-child {
  margin-left: 0;
}

/* --- Column Width --- */
/* We can do iteration in sass just like we do in javascript */
/* line 57, ../sass/framework.scss */
.col1 {
  width: 5.5%;
}

/* line 57, ../sass/framework.scss */
.col2 {
  width: 14.091%;
}

/* line 57, ../sass/framework.scss */
.col3 {
  width: 22.682%;
}

/* line 57, ../sass/framework.scss */
.col4 {
  width: 31.273%;
}

/* line 57, ../sass/framework.scss */
.col5 {
  width: 39.864%;
}

/* line 57, ../sass/framework.scss */
.col6 {
  width: 48.455%;
}

/* line 57, ../sass/framework.scss */
.col7 {
  width: 57.045%;
}

/* line 57, ../sass/framework.scss */
.col8 {
  width: 65.636%;
}

/* line 57, ../sass/framework.scss */
.col9 {
  width: 74.227%;
}

/* line 57, ../sass/framework.scss */
.col10 {
  width: 82.818%;
}

/* line 57, ../sass/framework.scss */
.col11 {
  width: 91.409%;
}

/* line 57, ../sass/framework.scss */
.col12 {
  width: 100%;
}

/*  #Mobile Phone
================================================== */
@media only screen and (max-width: 767px) {
  /* line 67, ../sass/framework.scss */
  .row {
    max-width: 767px;
  }
  /* line 69, ../sass/framework.scss */
  .row [class*="col"] {
    width: 100%;
    margin-left: 0;
  }
}
